<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    style
        include ..\static\about.css
</head>
<body> 
    <div class="container">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/skills">SKILLS</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
        <div class="pic">
            <img src="/static/kid.png" alt="" id="picture">
        </div>
    </div>
    <div class="about" id="about_id">
        <h1 class="abt_me">About Me</h1>
        <h2 class="wlcm">Welcome to my Website!</h2>
        <p class="abt_me_content"><span>I'm Tilak Uppar</span> currently pursuing my Degree in <br> Dayananda University Banglore,<br>
    |    while i'm very obsessed with Web Developing and<br>i'm very intrested in Front-end Developing</p>
    </div>
</body>
</html>