<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    style
        include ..\static\contact.css
</head>
<body>
    <div class="container">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/skills">SKILLS</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
        <div class="pic">
            <img src="/static/kid.png" alt="" id="picture">
        </div>
    </div>

    <div class="contact" id="contact_id">
        <form action="/contact" method="post">
            <fieldset>
                <legend>Contact Us</legend>
                <label for="name">Name :</label>
                <input type="text" for="name" name="name" id="name" placeholder="Enter Your Full Name" required><br>
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" placeholder="Email_ID" required><br>
                <label for="msg">Message :</label>
                <input type="text" name="message" id="msg" placeholder="Write Your Response"><br>
                <input type="submit" name="submit" id="submit" value="Submit">
                <input type="reset" name="resert" id="reset" value="Reset">

            </fieldset>
        </form>
        <div class="contact_info">
            <div class="call_us">
                <i class="fa-solid fa-phone"></i>
                <p>Call Us : 91+</p>
            </div>
            <div class="mail">
                <i class="fa-solid fa-envelope"></i>
                <p>Mail : email_id@gmail.com</p>
            </div>
            <div class="location">
                <i class="fa-solid fa-location-dot"></i>
                <P>192.212.36.56</P>
            </div>
        </div>
</body>
</html>