<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    style
        include ..\static\home.css
</head>

<body>
    <div class="container">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/skills">SKILLS</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
        <div class="pic">
            <img src="/static/kid.png" alt="" id="picture">
        </div>
    </div>
    <div class="content" id="content_id">
        <p class="info" style="position: static;">Hi There,<br>I'm <span style="color: orange;">Tilak Uppar</span><br>
        |    I'm into <span style="color: brown;">Web Develop</span></p>
    </div>
</body>

</html>