<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    style
        include ..\static\skills.css
</head>
<body>
    <div class="container">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/skills">SKILLS</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
        <div class="pic">
            <img src="/static/kid.png" alt="" id="picture">
        </div>
    </div>
    <div class="skills" id="skill_id">
        <h1 class="skill_heading">My Skills</h1><br>
        <div class="front_end">
            <i class="fa-solid fa-laptop-code fa-2xl skill_icon"></i><br><br>
            <p>HTML</p>
            <p>CSS</p>
            <p>JS</p>
            <p>React JS</p>
        </div>
        <div class="back_end">
            <i class="fa-solid fa-database fa-2xl skill_icon"></i>
            <p>Node JS</p>
            <p>Express JS</p>
        </div>
        <div class="tools">
            <i class="fa-solid fa-screwdriver-wrench fa-2xl skill_icon"></i>
            <p>VS Code</p>
            <p>Git & GitHub</p>
            <p>ChatGPT</p>
        </div>
    </div>
</body>
</html>